@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="javascript:;" onclick="setpost()">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    function setpost() {
        $.post("/home/SetCooke", "", function (data) {
            console.info(data);
        });
    }

</script>
