@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Model.Movie
<form action="/" method="post">
  <div class="form-group">
      <label asp-for="Title"></label>
  </div>
</form>